*{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            background-color: #fbcb2b;
}
        .content img{
            align-content: center;
            width: 100%;
            margin: 2em auto; 
            
}
a:link, a:visited {
  background-color: #ffffff;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  align-content: center;
}
