* {
    margin: 0;
    padding: 0;
    background-color: #dc8f8f;
}
.screenHalf {
    width: 50%;
}
.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
}
.gallery{
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
}
.gallery > img {
height: 320px;
width: 238px; 
}
.gallery > img:hover {
    position: relative;
    transform: scale(1.25); 
    transition: transform .75s;
    border-style:solid;
    border-width:3px;
    border-radius:5px;
}
