* {
    margin: 0;
    padding: 0;
    background-color: #dc8f8f;
}
.screenHalf {
    width: 50%;
}
    .gallery img{
    height: 100px; 
    width: 100px; 
}
.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.container > div {
height: 100px;
width: 100px; 
}
