* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    display: none;
}
/* Container grid styling */
div.container {
    display: grid;
    margin: 0 auto;
/* Content styling */
div.content {
    grid-column: 2 / 3; /* Simplified shorthand for grid-column */
    grid-row: 1 / 2;    /* Simplified shorthand for grid-row */
}

/* Sidebar styling */
div.sidebar {
    grid-column: 2 / 3; /* Set sidebar to span the correct columns */
    grid-row: 2 / 3;    /* Set sidebar to span the correct rows */
}
