* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #dc8f8f;
}
.flex-container {
  display: grid;
    grid-template-columns: auto auto auto;
    flex-direction: row;
  flex-wrap: nowrap;
}
.flex-container > div {
  width: 100px;
  margin: 10px;
  line-height: 75px;
}
