  *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            background-color: #f1c232;
  }

    div.container {
                width: 80%;
                margin: 0 auto;
    }

   header{
                text-align: center;
                line-height: 4em;
                margin: 2em auto;
   }
    header h1{
                font-family: 'Garamond', serif;
                font-size: 5em;
                margin-top: 1em;
                 margin-bottom: 1em;
                color: rgb(36, 32, 32);
    }
    p{
                font-family: 'Garamond', serif;
                font-size: 1.5em;
                color: rgb(36, 32, 32);
                margin-bottom: 2em;
    }
    .hero img{
          display: block;
          width: 70%;
          height: 70%;
          margin: 2em auto; 
          border: 12px;
    }
