*{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            background-color: #fbcb2b;
}
        .content img{
            align-content: center;
            width: 100%;
            margin: 2em auto; 
        }            
